Host node0
  HostName 127.0.0.1
  User ubuntu
  Port 64598
  IdentityFile ~/.ssh/build_key.rsa
  IdentitiesOnly yes

Host github.com
  IdentitiesOnly yes
  IdentityFile /home/ubuntu/.ssh/id_circleci_github
